html {
    scroll-behavior: smooth;
}
.mainSectionOption {
     align-self: center;
}
.demoHeader {
    font-size: large;
    padding-bottom: 10px;
    text-align: center;
}
.iPhonePhoto {
width: 100%;
  max-width: 190px; /* or whatever fits your layout */
  aspect-ratio: 1170 / 2532;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25); 
}
.iPhoneVideo {
  width: 100%;
  max-width: 390px; /* or whatever fits your layout */
  aspect-ratio: 1170 / 2532;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#firstList {
  list-style: none; /* override inside */
  margin-top: 0.25rem;
  color: #e2e8f0;
  padding-left: 0; /* prevent indentation */
}

#firstList li {
  display: flex;
  align-items: center;
}

#firstList li::before {
  content: '✓';
  margin-right: 0.5rem;
  font-weight: bold;
}