.mainSectionOption {
     align-self: center;
}
.demoHeader {
    font-size: 19.20 !important;
    padding: 10px;
    text-align: center;
}
.iPhoneVideo {
aspect-ratio: 1170 / 2532;
  width: 100%;
  max-width: 390px;
}
